*{
    box-sizing: border-box;
    /* background-image: url(../../souleymane-3.jpg); */
  }
.signUpForm-form{
  position:relative;
}

.registrationForm{
  width:50%;
  height:500px;
}
.signUpForm-form{
  /* background-image: url(../../souleymane-3.jpg); */
  height:1000px;
}
/* fieldset {
    width:50%;
    position:absolute;
    left:200px;
    display: flex;
    border: none;
    border-radius: 4px;
    box-shadow: -1px 1px 5px 4px #E6E6FA; 
    padding: 10px;
    height:450px;
  } */

input{
width:100%;
line-height: 2em;
padding:0.5em;
border-radius: 2px;
}
.btn{
  width:90%;
  margin: 12px 40px;
line-height: 2em;
padding:0.5em;
border-radius: 2px;
}
@media all and (max-width: 640px) {

  .registrationForm{
    width:50%;
    height:400px;
  }
.btn{
  width:50%;
  margin:0 auto;
  background-color: white;
  color:black;
}
  }
